# name: 'Basix'

fish_color_normal {{hex.fg}}
fish_color_command {{hex.accent}}
fish_color_keyword {{hex.tertiary}}
fish_color_param {{hex.fg}}
fish_color_option {{hex.secondary}}
fish_color_quote {{hex.green}}
fish_color_redirection {{hex.secondary}}
fish_color_end {{hex.yellow}}
fish_color_operator {{hex.cyan}}
fish_color_escape {{hex.magenta}}
fish_color_error {{hex.red}}
fish_color_comment {{hex.muted}}
fish_color_autosuggestion {{hex.muted}}
fish_color_selection --background={{hex.bgHigh}}
fish_color_search_match --background={{hex.bgHigh}}
fish_color_valid_path --underline
fish_color_history_current --bold
fish_color_cwd {{hex.yellow}}
fish_color_cwd_root {{hex.red}}
fish_color_user {{hex.cyan}}
fish_color_host {{hex.accent}}
fish_color_host_remote {{hex.green}}
fish_color_status {{hex.red}}
fish_color_cancel {{hex.red}}
fish_pager_color_progress {{hex.muted}}
fish_pager_color_prefix {{hex.accent}}
fish_pager_color_completion {{hex.fg}}
fish_pager_color_description {{hex.muted}}
fish_pager_color_selected_background --background={{hex.bgHigh}}
