theme[main_bg]="{{bg}}"
theme[main_fg]="{{fg}}"
theme[title]="{{fg}}"
theme[hi_fg]="{{accent}}"
theme[selected_bg]="{{bgHigh}}"
theme[selected_fg]="{{accent}}"
theme[inactive_fg]="{{muted}}"
theme[graph_text]="{{fg}}"
theme[meter_bg]="{{bgHighest}}"
theme[proc_misc]="{{secondary}}"
theme[div_line]="{{bgHigh}}"
theme[cpu_box]="{{accent}}"
theme[mem_box]="{{secondary}}"
theme[net_box]="{{tertiary}}"
theme[proc_box]="{{muted}}"
theme[temp_start]="{{green}}"
theme[temp_mid]="{{yellow}}"
theme[temp_end]="{{red}}"
theme[cpu_start]="{{accent}}"
theme[cpu_mid]="{{tertiary}}"
theme[cpu_end]="{{red}}"
theme[free_start]="{{green}}"
theme[free_mid]="{{green}}"
theme[free_end]="{{brightGreen}}"
theme[cached_start]="{{cyan}}"
theme[cached_mid]="{{cyan}}"
theme[cached_end]="{{brightCyan}}"
theme[available_start]="{{yellow}}"
theme[available_mid]="{{yellow}}"
theme[available_end]="{{brightYellow}}"
theme[used_start]="{{red}}"
theme[used_mid]="{{red}}"
theme[used_end]="{{brightRed}}"
theme[download_start]="{{secondary}}"
theme[download_mid]="{{secondary}}"
theme[download_end]="{{accent}}"
theme[upload_start]="{{tertiary}}"
theme[upload_mid]="{{tertiary}}"
theme[upload_end]="{{accent}}"
theme[process_start]="{{accent}}"
theme[process_mid]="{{tertiary}}"
theme[process_end]="{{red}}"
