[ColorEffects:Disabled]
Color={{bgAlt}}
ColorAmount=0.5
ColorEffect=3
ContrastAmount=0
ContrastEffect=0
IntensityAmount=0
IntensityEffect=0

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color={{bgAlt}}
ColorAmount=0.025
ColorEffect=0
ContrastAmount=0.1
ContrastEffect=0
Enable=true
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate={{bgAlt}}
BackgroundNormal={{bgHigh}}
DecorationFocus={{accent}}
DecorationHover={{accent}}
ForegroundActive={{fg}}
ForegroundInactive={{muted}}
ForegroundLink={{blue}}
ForegroundNegative={{red}}
ForegroundNeutral={{yellow}}
ForegroundNormal={{fg}}
ForegroundPositive={{green}}
ForegroundVisited={{magenta}}

[Colors:Complementary]
BackgroundAlternate={{bg}}
BackgroundNormal={{bgAlt}}
DecorationFocus={{accent}}
DecorationHover={{accent}}
ForegroundActive={{bright}}
ForegroundInactive={{muted}}
ForegroundLink={{blue}}
ForegroundNegative={{red}}
ForegroundNeutral={{yellow}}
ForegroundNormal={{fg}}
ForegroundPositive={{green}}
ForegroundVisited={{magenta}}

[Colors:Header]
BackgroundAlternate={{bgAlt}}
BackgroundNormal={{bgAlt}}
DecorationFocus={{accent}}
DecorationHover={{accent}}
ForegroundActive={{bright}}
ForegroundInactive={{muted}}
ForegroundLink={{blue}}
ForegroundNegative={{red}}
ForegroundNeutral={{yellow}}
ForegroundNormal={{fg}}
ForegroundPositive={{green}}
ForegroundVisited={{magenta}}

[Colors:Header][Inactive]
BackgroundAlternate={{bgAlt}}
BackgroundNormal={{bgAlt}}
DecorationFocus={{accent}}
DecorationHover={{accent}}
ForegroundActive={{bright}}
ForegroundInactive={{muted}}
ForegroundLink={{blue}}
ForegroundNegative={{red}}
ForegroundNeutral={{yellow}}
ForegroundNormal={{fg}}
ForegroundPositive={{green}}
ForegroundVisited={{magenta}}

[Colors:Selection]
BackgroundAlternate={{accent}}
BackgroundNormal={{accent}}
DecorationFocus={{accent}}
DecorationHover={{secondary}}
ForegroundActive={{bg}}
ForegroundInactive={{bg}}
ForegroundLink={{bg}}
ForegroundNegative={{bg}}
ForegroundNeutral={{bg}}
ForegroundNormal={{bg}}
ForegroundPositive={{bg}}
ForegroundVisited={{bg}}

[Colors:Tooltip]
BackgroundAlternate={{bgAlt}}
BackgroundNormal={{bgAlt}}
DecorationFocus={{accent}}
DecorationHover={{accent}}
ForegroundActive={{fg}}
ForegroundInactive={{muted}}
ForegroundLink={{blue}}
ForegroundNegative={{red}}
ForegroundNeutral={{yellow}}
ForegroundNormal={{fg}}
ForegroundPositive={{green}}
ForegroundVisited={{magenta}}

[Colors:View]
BackgroundAlternate={{bgAlt}}
BackgroundNormal={{bg}}
DecorationFocus={{accent}}
DecorationHover={{accent}}
ForegroundActive={{bright}}
ForegroundInactive={{muted}}
ForegroundLink={{blue}}
ForegroundNegative={{red}}
ForegroundNeutral={{yellow}}
ForegroundNormal={{fg}}
ForegroundPositive={{green}}
ForegroundVisited={{magenta}}

[Colors:Window]
BackgroundAlternate={{bgAlt}}
BackgroundNormal={{bg}}
DecorationFocus={{accent}}
DecorationHover={{accent}}
ForegroundActive={{accent}}
ForegroundInactive={{muted}}
ForegroundLink={{blue}}
ForegroundNegative={{red}}
ForegroundNeutral={{yellow}}
ForegroundNormal={{fg}}
ForegroundPositive={{green}}
ForegroundVisited={{magenta}}

[General]
ColorScheme=Basix
Name=Basix
shadeSortColumn=true

[KDE]
contrast=4

[WM]
activeBackground={{bgHighest}}
activeBlend=252,252,252
activeForeground={{fg}}
inactiveBackground={{bgHigh}}
inactiveBlend=161,169,177
inactiveForeground={{fg}}
