[ColorScheme]
active_colors={{fg}}, {{bgHigh}}, {{muted}}, {{bgHighest}}, {{bgAlt}}, {{bg}}, {{fg}}, {{bright}}, {{fg}}, {{bg}}, {{bg}}, #000000, {{accent}}, {{bg}}, {{blue}}, {{magenta}}, {{bgAlt}}, {{bg}}, {{bgAlt}}, {{fg}}, {{muted}}, {{accent}}
inactive_colors={{fg}}, {{bgHigh}}, {{muted}}, {{bgHighest}}, {{bgAlt}}, {{bg}}, {{fg}}, {{bright}}, {{fg}}, {{bg}}, {{bg}}, #000000, {{accent}}, {{bg}}, {{blue}}, {{magenta}}, {{bgAlt}}, {{bg}}, {{bgAlt}}, {{fg}}, {{muted}}, {{accent}}
disabled_colors={{muted}}, {{bgHigh}}, {{muted}}, {{bgHighest}}, {{bgAlt}}, {{bg}}, {{muted}}, {{bright}}, {{muted}}, {{bg}}, {{bg}}, #000000, {{bgHigh}}, {{muted}}, {{blue}}, {{magenta}}, {{bgAlt}}, {{bg}}, {{bgAlt}}, {{muted}}, {{muted}}, {{bgHigh}}
